@media only screen and (max-width: 739px){
    
    #wrapper .sticky{
        left:0px;
    }
    #wrapper .header_title2{
        width:100%;
    }
   
        #wrapper .header_title1 .left #big-icon{
          display:none;width:100px;
        }
        #wrapper .header_title1 .left #small-icon{
            display:block;
            position: relative;top:6px;
        }
       
    
            #wrapper .header_title1 .left #search{
                width:90px;left:10px;top:15px;
            }
            #wrapper .header_title1 .left .search-icon{
                left:5px;top:15px;
            }
            #wrapper .header_title1 .left{
                width:50%;
            }
            #wrapper .header_title1 .right{
                width:50%;
            }
    
    #wrapper .header_title1 .right .write {
        display:none;
       
    }
    
    #wrapper .header_title1 .right .sign-up {
     background: rgb(250, 250, 250);left:0px;
  }
    
        #wrapper .header_title1 .right .sign-up .login_left{
            font-size: 16px ;
        }
        #wrapper .header_title1 .right .sign-up .sign_up-right{
    font-size: 16px;
        }
        
        .content .cover-book{
            height:24%;display: flex; flex-direction: column;
            width:100%;
        }
        .content .cover-book .div_firt-left{
            width:100%;height:23%;
           
        }
        .content .cover-book .div_firt-left .user_first {

            margin-top:-100px;
        }

        #wrapper{
            height:6000px;
        }
        .content .cover-book .wrap_book-right .div_second-right .user_second{
            left:223px;width:100px;
        }

        .content .cover-book .div_firt-left p{
            word-break: break-all;
        }
        .content .cover-book .wrap_book-right{
            display: flex;flex-direction: column;
        background: rgb(241, 241, 241);margin-top:0px;height:80%;
         width:100%;left:0px;
        }
        .content .cover-book .text_of-book{
            position: relative;top:0px;
        }
        .content .cover-book .text_of-book h3{
            position: relative;left:10px;font-weight: bold;
        }
        .content .cover-book .div_second-right{
            border:none  ;width:99%;padding: 0px ;height:100%;
        }
       
          .content .cover-book .text_of-book p{
              position: relative;left:207px;
          }
       
    
 
        .content .main-img img{
            width:100%;height:90%; 
            object-fit: cover;
            -webkit-object-fit:cover;
            -moz-object-fit:cover;
        }
        .content .main-img{
            width:100%;height:180px;text-align: center;justify-content: center;
        }
        .content .main-img .main_img-text{
            padding-top: 0px ;}
            .content .main-img .main_img-text h3{
              font-weight: bold;
                }
            .content .main-img .main_img-text p{
                left:210px;
                }
        
                #wrapper .header_title2 ul {
                    display:flex;flex-direction: row;overflow-x: auto ;
                overflow-y: hidden;}
                #wrapper .header_title2 ul li {
                    font-size: 18px ;width:300%;display: flex ;height:100%;
                }
                #wrapper .header_title2 ul li a{
                   display: flex ;padding:5px -1px ;white-space: nowrap;
                }
                #wrapper .header_title2 ul li::webkit-scrollbar {height:0}
              
                  
                 

                            .power_of-book{
                             
                                width:100%;height:20%;
                                display: flex; flex-direction: column;
                            }
                            .power_of-book .div_power-first{
                                width:100%;height:34%;
                            }
                            .power_of-book .wrap_power-right{
                          display: flex;flex-direction: column;
                       background: rgb(254, 255, 255);
                         height:63%;
                          width:100%;}
                         
                          .power_of-book .text_of-power p{
                            position: relative;left:140px;
                          }
                          .power_of-book .wrap_power-right .div_power{
                              height:100%;width:100%;justify-content: center;text-align: center;
                          }
                          .power_of-book .wrap_power-right .div_power .small_user-power{
                              left:200px;
                          }
                            .travel .text_of-travel p{
                                position: relative;left:100px !important;  
                            }
                            .travel{
                                display: flex;flex-direction: column;
                                height:1530px;width:100%;
                            }
                        
                            .travel .div-travel1{
                                width:100%;
                                height:30%;
                        display: flex; flex-direction: column;
                            }
                            .travel .wrap-travel .travel-item{
                                width:100%;height:100%;
                            }
                            .travel .wrap-travel .travel-item>img{
                                width:100%;
                                object-fit: cover;
                                 -webkit-object-fit:cover;
                                -moz-object-fit:cover;
                            }
                            .travel .div-travel1 .first_travel-img{
                                width:100%;height:120px ;
                            }
                            .travel .div-travel1 .text_main-travel{
                       
                            left:0px;
                            top:10px;font-size: 24px;
                           height:74%;width:100%;
                          
                        }
                        .travel .div-travel1 .text_main-travel .small-user1 {
                      
                            left:160px;
                           bottom:40px;justify-content: center;text-align: center;
                          
                          
                        }
                        .travel .wrap-travel{
                            display: flex;flex-direction: column;
                            margin-left: 0px;background: rgb(253, 253, 253);
                          height:68%;
                            width:100%;
                          
                        }
                        .science{
                            width:100%;height:1500px;margin: 0px ;
                            
                        }
                        .science .science-display{
                            display: flex; flex-direction: column;
                        }
                        
                        .science .science-display .science-item{
                           margin-left: 0px ;
                            width:98%;height:100%;
                            margin-top: 2px ;
                        }
                      
                       
                       
                        .science .science-display .science-item .science_h4{
                          top:90px;left:60px;
                           }
                           .science .science-display .science-item .science-user{
                            position: absolute;left:20px;top:180px;color:white;
                         }
                       
                        .footer #footer-ul{
                          font-size: 18px;
                        }
                        .footer section {
                    font-size: 17px;
                        }
                       
                           
                         
}


@media only screen and (min-width: 740px) and (max-width: 1023px){
    #wrapper{
        height:4000px;
    }
    .content{
        height:80%;
    }
    .footer{
        height:20%;
    }
    #wrapper .header_title2{
        width:100%;
        left:0px;
    }
    #wrapper .header_title1 .left #search{
       bottom:80px;left:25px;
       width:40%;
    }
    #wrapper .header_title1 .left{
        width:70%;
    }
    #wrapper .header_title1 .right .write{
        left:10px;margin-top: 0px;
    }
    #wrapper .header_title1 .right .sign-up{
        left:40px;margin-top: 0px ;
    }
    .content .main-img{
        width:100%;
    }
    .content .main-img .main-image-ads{
        width:100%;object-fit: contain;
    }
    .content .cover-book .div_firt-left{
        width:30%;height:60%;
    }
    .content .cover-book .wrap_book-right{
        left:0px;width:65%;height:90%;
    }
    .content .cover-book .div_second-right{
        width:100%;
    }
    .content .main-img .main_img-text p{
        left:600px;
    }
    .content .cover-book{
        height:800px;width:100%;
    }
    .power_of-book{
        width:100%;
    }

    .travel{
        width:100%;
    }
    .travel .div-travel1 .text_main-travel p{
        top:10px;
    }
    .travel .div-travel1 .text_main-travel .small-user1{
        left:277px;
    }
    .travel .text_of-travel p{
        left:390px;
    }
    .power_of-book .text_of-power p{
        left:452px;
    }
    .content .cover-book .text_of-book p{
        left:530px;
    }
    .science{
        height:800px;width:100%;
      
    }
    .science .science-display{
        display: grid; grid-template-columns: auto auto auto ;
        padding: 10px ;grid-column-gap: 6px;
        
    }
    .science .science-item{
        height:50%;
    }
   

        #wrapper .sticky{
            left:0;
        }
        #wrapper .header_title2 ul {
            display:flex;flex-direction: row;overflow-x: auto ;
        overflow-y: hidden;
    
    }
    
  
        #wrapper .header_title2 ul {
            display:flex;flex-direction: row;overflow-x: auto ;
        overflow-y: hidden;}
        ::-webkit-scrollbar {
            width: 0px;height:0px;
          }
        #wrapper .header_title2 ul li {
           width:300%;display: flex ;height:100%;
        }
        #wrapper .header_title2 ul li a{ 
           display: flex ;padding:5px -1px ;white-space: nowrap;
        }
        #wrapper .header_title2 ul li::webkit-scrollbar {height:0}
     
                
                    
        
}

@media only screen and (min-width: 1024px){
#wrapper{
    width:1364px;
}
}